* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: kamerik-text;
  src: url(assets/fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}

@font-face {
  font-family: merriweather-italic-text;
  src: url(assets/fonts/merriweather-regular-italic.woff2);
}

:root {
  --color-white: #fff;
}

body {
  background-color: #000;
  font-family: kamerik-text;
  color: var(--color-white);
}

.logo {
  position: absolute;
  background-image: url("assets/img/svg/logo.svg");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

.content {
  height: 100vh;
}

.layers {
  /* перспектива */
  perspective: 1000px; 
}

.layers__container {
  height: 100vh;
  transform-style: preserve-3d;
}

.layers__item {
  position: absolute;
  /* width: 100vw; */
  /* height: 100vh; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
}

.layer-1 {

}
